nav.navbar.navbar-default.navbar-fixed-top role="navigation"
  .container
    .navbar-header
      button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-menu"
        span.sr-only
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href=root_path
        | lnk
        i.fa.fa-linkedin-square.fa-fw
        | .me
    .navbar-menu.collapse.navbar-collapse.navbar-right
      ul.nav.navbar-nav.navbar-right.share-buttons
        li
          .linkedin
            script type="IN/Share" data-counter="right" data-showzero="true"
          .facebook
            #fb-root
            .fb-share-button data-href="http://lnkin.me" data-layout="button_count"
          .tweeter
            a href="https://twitter.com/share" class="twitter-share-button" data-text="Discover your professional network" data-via="lnkinme"
