.home
  .tagline-bg
    .tagline
      .container
        .row
          header.col-sm-12
            = render 'home/partials/tagline'
  .features
    .container
      .row
        section.col-sm-4.text-center
          i.fa.fa-link
          h3 Ready To Use
        section.col-sm-4.text-center
          i.fa.fa-share-alt
          h3 Easy To Share
        section.col-sm-4.text-center
          i.fa.fa-line-chart
          h3 Analytic Report
  .tutorial
    .container
      .row
        main.col-sm-12
          = render 'home/partials/tutorial'
  .subscribe
    .container
      .row
        = render 'home/partials/subscribe'
  /.popular
    .container
      .row
        .col-sm-12
          = render 'home/partials/popular', populars: @populars
