.col-sm-8
  p.text-center We are working hard to make our service available as soon as possible. If you are interesting in our service, please let us know.
.col-sm-4.text-right
  h2 Subscribe
  form role="form"
    .form-group
      input.email.form-control type="email" placeholder="Email"
    button.btn.btn-primary disabled="disabled" Subscribe
