h2 Get Started
.well
  section.step-1

    span.badge 1
    |  Following this 
    a href="https://help.linkedin.com/app/answers/detail/a_id/87/~/customizing-your-public-profile-url" tutorial
    |  to customize your profile link at 
    a href="https://www.linkedin.com/" LinkedIn
    | .
  section.step-2
    span.badge 2
    |  Enter your 
    b username
    |  in the following field:
    p.form-inline
      | http://www.linkedin.com/in/ 
      input.form-control.username placeholder="username"
  section.step-3
    span.badge 3
    | Copy the generated short link:
    p
      a.short-link target="_blank" href="#{root_url}" #{root_url}
    p
      a.btn.btn-primary.copy-link-btn data-clipboard-text="#{root_url}" title="Click to copy." disabled="disabled" Copy
  section.step-4
    span.badge 4
    | Congratulation! Let's share your proflie link.
