body {
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 50px;
}

h1 {
    font-family: Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    //font-weight: bold;
}

footer {
    border-top: 1px solid #ddd;
    color: #aaa;
    margin-top: 60px;
    padding: 40px 0;
}
