// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "config";

.home {
    .tagline-bg {
        background-position: center 25%;
        background-image: image_url('landing-image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .tagline {
        background-color: rgba(255, 255, 255, .1);
        height: 400px;
        @media #{$mobile} {
            height: 300px;
        }
        .container {
            padding-top: 100px;

            @media #{$mobile} {
                padding-top: 50px;
            }

            h1 {
                color: #4CA066;
                font-size: 48px;
                text-shadow: 0 1px 2px #000;
                @media #{$tablet} {
                    font-size: 36px;
                }
                @media #{$mobile} {
                    font-size: 27px;
                }
            }

            h3 {
                color: #eee;
                font-size: 32px;
                text-shadow: 0 1px 1px #000;
                padding-left: 50px;
                @media #{$tablet} {
                    font-size: 24px;
                    padding-left: 25px;
                }
                @media #{$mobile} {
                    font-size: 18px;
                    padding-left: 0;
                }
            }
        }
    }

    .subscribe {
        p {
            font-size: 20px;
            color: #999;
            padding: 30px 60px;
            @media #{$mobile} {
                padding: 0;
            }
        }
    }

    main {
        section {
            margin: 20px 0 60px 40px;
            position: relative;
            .badge {
                position: absolute;
                left: -40px;
            }
            p {
                margin-top: 20px;
            }
            input {
                display: inline-block;
                padding: 0 5px;
                height: 20px;
                width: auto;
            }
        }
    }

    .features {
        margin-top: 60px;
        section {
            //color: #ddd;
            margin-bottom: 60px;
            i {
                font-size: 64px;
                margin-top: 20px;
            }

            &:hover {
                //color: #fff;
            }
        }
    }
}
