nav.navbar {
  .navbar-header {
    .navbar-brand {
      //font-family: 'Arial Black', Verdana, Geneva, sans-serif;
    }
  }
  .navbar-menu {
    .share-buttons {
      .linkedin {
        float: left;
        padding: 15px 5px 4px 5px;

        .IN-widget > span {
          float: left;
          margin-top: -5px !important;
        }
      }
      .tweeter {
        float: left;
        padding: 15px 5px 10px 5px;
      }
      .facebook {
        float: left;
        padding: 14px 5px 15px 5px;
      }
    }
  }
}
