doctype html
html
  head
    title lnkin.me
    / for facebook share
    meta property="og:title" content="Lnkin.me"
    meta property="og:description" content="Lnkin.me is an analytic tool for LinkedIn profile. Let's Discover Your Professional Network."
    meta property="og:url" content="http://lnkin.me"

    = stylesheet_link_tag \
      '//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css',
      '//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cosmo/bootstrap.min.css',
      '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css',
      'application',
      media: 'all'
    = javascript_include_tag \
      'application',
      '//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.Core.min.js',
      '//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.min.js',
      '//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js',
      '//platform.linkedin.com/in.js'

    = csrf_meta_tags
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    meta name="robots" content="all"
  body
    = render 'shared/navbar'
    == yield
    = render 'shared/footer'
